import styles from './{{pascalCase name}}.module.css'

/**
 * Dessine le plus joli des canards à l'aveugle et dans un temps imparti
 * 
 * La réalisation sera jugée sur 3 critères :
 * - la ressemblance avec un canard
 * - l'originalité
 * - le coup de coeur du jury
 */

export default function {{pascalCase name}}() {
  return (
    <div className="container">
      <div className={styles.square}></div>
      <div className={styles.circle}></div>
      <div className={styles.triangle}></div>
    </div>
  )
}
